*.pyc
*.pyo
*.log
*~
/.cache
/.coverage
/.project
/.pydevproject
/.vagrant
/.idea
__pycache__/
/build/
/dist/
/rpm_s3_mirror.egg-info/
/rpm_s3_mirror-rpm-src.tar
/rpm/
.idea
.vagrant

rpm_s3_mirror/version.py
